<p id="notice"><%= notice %></p>
<h1>Show Country</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>
    <p>
      <strong>Members names:</strong>
      <%= @team.members_names %>
    </p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-default' %>
    <%= link_to 'Back', teams_path, class: 'btn btn-default' %>
  </div>
</div>