<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <td></td>
      <%= content_tag 'td', colspan: @countries_releases.count, width: '40%' do %>
        <p>
          <%= link_to @release.name, edit_release_path(@release)  %>
          <br/>
          <strong>
            Release date:
          </strong>
          <%= I18n.l @release.released_at, format: :short %>
          <br/>
          <strong>
            Release team:
          </strong>
          <%= "#{@release.team.name} (#{@release.team.members_names})" %>
        </p>
      <% end %>
    </tr>
    <tr>
      <td></td>
      <% @countries_releases.each do |countries_release|  %>
        <th>
          <%= countries_release.country.name %>
        </th>
      <% end  %>
    </tr>
    <% @steps_releases.each do |steps_release| %>
      <tr>
        <td>
          <%= link_to steps_release.step.name, edit_step_path(steps_release.step) %>
        </td>
        <% @countries_releases.each do |countries_release|  %>
        <% statuses_steps_release = steps_release.status_for_country(countries_release.country) %>
          <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= statuses_steps_release.status.humanize %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
              </ul>
            </div>
          </td>
        <% end  %>
      </tr>
    <% end %>
  </table>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_release_path(@release), class: 'btn btn-default' %>
    <%= link_to 'Back', releases_path, class: 'btn btn-default' %>
  </div>
</div>